# Cleaning Data Automobile Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('automobile.csv')

In [3]:
data.shape

(205, 26)

In [4]:
data.head(n=5)

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [5]:
data.tail(n=5)

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
Symboling            205 non-null int64
normalized-loses     164 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         203 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression-ratio    205 non-null float64
horsepower           203 non-null float64
peak-rpm             203 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

# Missing Value

In [7]:
np.sum(data.isnull())

Symboling             0
normalized-loses     41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [8]:
data.isnull().sum().sum()

59

In [9]:
#mengisi missing value pada setiap variabel
data['normalized-loses'] = data['normalized-loses'].fillna((data['normalized-loses'].mean())) 
data['num-of-doors'] = data.fillna(data['num-of-doors'].value_counts().index[0])
data['bore'] = data['bore'].fillna((data['bore'].mean()))
data['stroke'] = data['stroke'].fillna((data['stroke'].mean()))
data['horsepower'] = data['horsepower'].fillna((data['horsepower'].mean()))
data['peak-rpm'] = data['peak-rpm'].fillna((data['peak-rpm'].mean()))
data['price'] = data['price'].fillna((data['price'].mean()))
data.isnull().any()

Symboling            False
normalized-loses     False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                False
dtype: bool

In [11]:
data.head()

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,3,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,3,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,1,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,2,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,2,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [12]:
data.tail()

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95.0,volvo,gas,std,-1,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,-1,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,-1,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,-1,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,-1,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

# Deskripsi Data

In [13]:
data.describe()

,Symboling,normalized-loses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,2.000000,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [14]:
data['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
chevrolet         3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

In [15]:
data['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [16]:
data['aspiration'].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [17]:
data['num-of-doors'].value_counts()

 0    67
 1    54
 2    32
 3    27
-1    22
-2     3
Name: num-of-doors, dtype: int64

In [18]:
data['body-style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

In [19]:
data['drive-wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

In [20]:
data['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [21]:
data['fuel-system'].value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64

# Encode Labels

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
data['fuel-type'] = LabelEncoder().fit_transform(data['fuel-type'])
data['aspiration'] = LabelEncoder().fit_transform(data['aspiration'])
data['body-style'] = LabelEncoder().fit_transform(data['body-style'])
data['drive-wheels'] = LabelEncoder().fit_transform(data['drive-wheels'])
data['engine-location'] = LabelEncoder().fit_transform(data['engine-location'])
data.head()

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,1,0,3,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,1,0,3,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,1,0,1,2,2,0,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,1,0,2,3,1,0,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,1,0,2,3,0,0,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Standardize

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
data['normalized-loses'] = StandardScaler().fit(data[['normalized-loses']]).transform(data[['normalized-loses']])
data['wheel-base'] = StandardScaler().fit(data[['wheel-base']]).transform(data[['wheel-base']])
data['bore'] = StandardScaler().fit(data[['bore']]).transform(data[['bore']])
data['stroke'] = StandardScaler().fit(data[['stroke']]).transform(data[['stroke']])
data['horsepower'] = StandardScaler().fit(data[['horsepower']]).transform(data[['horsepower']])
data['price'] = StandardScaler().fit(data[['price']]).transform(data[['price']])
data.head()

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0.000000,alfa-romero,1,0,3,0,2,0,-1.690772,...,130,mpfi,0.519089,-1.839404,9.0,0.171065,5000.0,21,27,0.036674
1,3,0.000000,alfa-romero,1,0,3,0,2,0,-1.690772,...,130,mpfi,0.519089,-1.839404,9.0,0.171065,5000.0,21,27,0.419498
2,1,0.000000,alfa-romero,1,0,1,2,2,0,-0.708596,...,152,mpfi,-2.404862,0.685920,9.0,1.261807,5000.0,19,26,0.419498
3,2,1.328961,audi,1,0,2,3,1,0,0.173698,...,109,mpfi,-0.517248,0.462157,10.0,-0.057230,5500.0,24,30,0.094639
4,2,1.328961,audi,1,0,2,3,0,0,0.107110,...,136,mpfi,-0.517248,0.462157,8.0,0.272529,5500.0,18,22,0.540524

# Normalize

In [26]:
from sklearn.preprocessing import Normalizer

In [27]:
data['normalized-loses'] = Normalizer().fit(data[['normalized-loses']]).transform(data[['normalized-loses']])
data['wheel-base'] = Normalizer().fit(data[['wheel-base']]).transform(data[['wheel-base']])
data['bore'] = Normalizer().fit(data[['bore']]).transform(data[['bore']])
data['stroke'] = Normalizer().fit(data[['stroke']]).transform(data[['stroke']])
data['horsepower'] = Normalizer().fit(data[['horsepower']]).transform(data[['horsepower']])
data['price'] = Normalizer().fit(data[['price']]).transform(data[['price']])
data.head()

,Symboling,normalized-loses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0.0,alfa-romero,1,0,3,0,2,0,-1.0,...,130,mpfi,1.0,-1.0,9.0,1.0,5000.0,21,27,1.0
1,3,0.0,alfa-romero,1,0,3,0,2,0,-1.0,...,130,mpfi,1.0,-1.0,9.0,1.0,5000.0,21,27,1.0
2,1,0.0,alfa-romero,1,0,1,2,2,0,-1.0,...,152,mpfi,-1.0,1.0,9.0,1.0,5000.0,19,26,1.0
3,2,1.0,audi,1,0,2,3,1,0,1.0,...,109,mpfi,-1.0,1.0,10.0,-1.0,5500.0,24,30,1.0
4,2,1.0,audi,1,0,2,3,0,0,1.0,...,136,mpfi,-1.0,1.0,8.0,1.0,5500.0,18,22,1.0